@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #efefef;
    font-family: 'Roboto', sans-serif;
}

.clearfix {
    display: block;
    width: 100%;
    clear: both;
}

.board {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 950px;
    padding: 20px;
    gap: 8px;
    border-radius: 10px;
    box-shadow:
    4px 4px 8px #0002,
    -4px -4px 8px #fff;
    
}

.textarea {
    display: block;
    padding: 10px;
    margin: 40px auto;
    border-radius: 8px;
    box-shadow:
    4px 4px 8px #0002,
    -6px -6px 8px #fff;
    background-color: #171717f1;
    color: #02e124;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

.key-button {
    position: relative;
    display: grid;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    box-shadow:
        4px 4px 8px #0002,
        -4px -4px 8px #fff;
    place-content: center;
    transition: all .5s ease;
    background-color: #efefef;
    font-weight: 700;      
}

.key-button:hover {
    cursor: pointer;
}

.active {
    box-shadow:
     4px 4px 8px #0002,
     4px 4px 8px #ffffff;
    background-color: #dedede88;
}


.key-long, .key-caps{
    position: relative;
    width: 120px;
}

.key-space {
    width: 415px;
}

.key-caps:after {
    content: '';
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 10px;
    right: 10px;
    background-color: #3838386d;
    border-radius: 50%;
    transition: all .5s ease-out;
}

.key-caps--active:after {
    background-color: #00bf1d;
    box-shadow: 0 0 10px rgb(2, 253, 60);
}
.key-arrow-right, .key-arrow-up, .key-arrow-left, .key-arrow-down {
    position: relative;
}

.key-arrow-left::after,  .key-arrow-up::after, .key-arrow-down::after, .key-arrow-right::after{
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 25%;
    top: 25%;
    z-index: 1;
    background-image: url(./src/img/right-arrow-svgrepo-com.svg);
    background-position: center;
    background-size: cover;
}

.key-arrow-left::after {
    transform: rotate(180deg);
}

.key-arrow-up::after {
    transform: rotate(-90deg);
}

.key-arrow-down::after {
    transform: rotate(90deg);
}

.board::after {
    content: "Переключение языка: Alt+Shift";
    display: block;
    position: absolute;
    bottom: -30px;
    left: 10px;
    color: rgb(186, 186, 186);
}

