@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #efefef;
    font-family: 'Roboto', sans-serif;
}

.clearfix {
    display: block;
    width: 100%;
    clear: both;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 950px;
    padding: 20px;
    gap: 8px;
    border-radius: 10px;
    box-shadow:
    4px 4px 8px #0002,
    -4px -4px 8px #fff;
    
}

.textarea {
    display: block;
    padding: 10px;
    margin: 40px auto;
    border-radius: 8px;
    box-shadow:
    4px 4px 8px #0002,
    -6px -6px 8px #fff;
    background-color: #171717f1;
    color: #00bf1d;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

.key-button {
    display: grid;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    box-shadow:
        4px 4px 8px #0002,
        -4px -4px 8px #fff;
    place-content: center;
    transition: all .5s ease;
    background-color: #efefef;
    font-weight: 700;      
}

.key-button:hover, .active {
    box-shadow:
     4px 4px 8px #0002,
     4px 4px 8px #ffffff;
    cursor: pointer;
    background-color: #dedede88;
}

.key-long {
    width: 120px;
}

.key-space {
    width: 400px;
}